.header {
  position: relative;
  height: 100vh; /* Adjust the height as needed */
  background-image: url('../../assets/Images/BgBackground.jpeg'); /* Replace with your image path */
  background-size:cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF; /* White text color */
  text-align: center;
}

.header-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
  padding: 20px;
  border-radius: 10px;
}

.header-title {
  font-size: 64px;
  margin: 0;
  font-weight: bold;
}

.header-subtitle {
  font-size: 24px;
  margin: 10px 0 0;
  font-weight: normal;
  letter-spacing: 2px;
}
